{% extends 'partials/base2.html' %}
{% load static %}
{% load rating_tags %}
{% load humanize %}

{% block title %}{{ eatery.name }} - Eatz{% endblock %}


{% block content %}

<div class="flex z-55 gap-3 items-center mx-3 my-4">
    <button onclick="history.back()"
        class="p-2 flex items-center justify-center min-w-12 h-12 bg-white shadow-md rounded-2xl"><svg
            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5">
            <path fill-rule="evenodd"
                d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z"
                clip-rule="evenodd" />
        </svg>

    </button>
    Go Back
    <!-- <a href="#" class="">Eatz</a> -->
</div>
<div class="flex items-center justify-center p-3" data-aos="flip-right" data-aos-duration="500">
    <!-- Header -->
    <div class="w-100 flex items-center justify-center mb-3"
        hx-get="{% url 'restaurants:restaurant-status-partial' restaurant.pk %}" hx-trigger="load, every 5s"
        hx-swap="outerHTML" id="restaurant-status-{{ restaurant.pk }}" hx-headers="{cache-control: 'no-cache'}">
        <!-- {% include 'restaurant/_countdown.html' %} -->
        {% include 'restaurant/_status.html' %}
    </div>
</div>

<main class="p-3">





    <!-- Restaurant Hero Section -->
    <section class="relative mb-3">
        <div class="h-40 md:h-60 relative overflow-hidden rounded-2xl">
            <img src="{{restaurant.image.url}}?height=320&width=800" alt="To{{restaurant.name}}"
                class="w-full h-full object-cover">
            <div class="absolute inset-0 bg-black bg-opacity-20"></div>
            <button class="absolute top-4 right-4 bg-white p-2 shadow-lg rounded-lg">
                <i class="fas fa-heart text-gray-400 text-lg"><svg xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" class="size-5">
                        <path fill-rule="evenodd"
                            d="M14 6a2.5 2.5 0 0 0-4-3 2.5 2.5 0 0 0-4 3H3.25C2.56 6 2 6.56 2 7.25v.5C2 8.44 2.56 9 3.25 9h6V6h1.5v3h6C17.44 9 18 8.44 18 7.75v-.5C18 6.56 17.44 6 16.75 6H14Zm-1-1.5a1 1 0 0 1-1 1h-1v-1a1 1 0 1 1 2 0Zm-6 0a1 1 0 0 0 1 1h1v-1a1 1 0 0 0-2 0Z"
                            clip-rule="evenodd" />
                        <path
                            d="M9.25 10.5H3v4.75A2.75 2.75 0 0 0 5.75 18h3.5v-7.5ZM10.75 18v-7.5H17v4.75A2.75 2.75 0 0 1 14.25 18h-3.5Z" />
                    </svg>
                </i>
            </button>
        </div>

        <!-- Restaurant Info Overlay -->
        <div class="rounded-2xl bottom-0 left-0 right-0 bg-gradient-to-t from-black to-transparent p-3">
            <div class="max-w-7xl mx-auto">
                <h1 class="text-3xl font-bold mb-2">{{restaurant.name}}</h1>
                <div class="flex items-center space-x-4 overflow-x-auto text-sm">
                    <div class="flex items-center">
                        <div class="flex text-yellow-400 text-lg">
                            {{ restaurant.rating|inline_star_rating|safe }}
                        </div>
                        <span class="text-xs ml-1">
                            {{ restaurant.rating }}
                            ({{restaurant.review_count|default:'10+'}})</span>
                    </div>
                    <span>•</span>
                    <span class="px-2 py-1 rounded-lg bg-primary text-xs">{{restaurant.tags|default:'Lagos, Tasty' }}</span>
                    <span>•</span>
                    <span class="px-2 py-1 rounded-lg bg-primary text-xs">{{restaurant.budget_category|default:'$ Affordable'}}</span>

                    <!-- <span></span> -->
                </div>
            </div>
        </div>
    </section>

    <!-- Quick Info Bar -->
    <section class="mb-3 rounded-2xl">
        <div class="max-w-7xl mx-auto px-4 py-4">
            <!-- <div class="flex items-center"> -->
            <div class="flex items-center justify-between space-x-6">
                <div class="flex flex-col text-xs items-center space-x-2">
                    <i class="fas fa-clock text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" class="size-5">
                            <path fill-rule="evenodd"
                                d="M10 18a8 8 0 1 0 0-16 8 8 0 0 0 0 16Zm.75-13a.75.75 0 0 0-1.5 0v5c0 .414.336.75.75.75h4a.75.75 0 0 0 0-1.5h-3.25V5Z"
                                clip-rule="evenodd" />
                        </svg>
                    </i>
                    <span class="text-xs">{{restaurant.preparation_time}} min</span>
                </div>
                <div class="flex flex-col items-center space-x-2">
                    <i class="fas fa-truck text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" class="size-5">
                            <path
                                d="M6.5 3c-1.051 0-2.093.04-3.125.117A1.49 1.49 0 0 0 2 4.607V10.5h9V4.606c0-.771-.59-1.43-1.375-1.489A41.568 41.568 0 0 0 6.5 3ZM2 12v2.5A1.5 1.5 0 0 0 3.5 16h.041a3 3 0 0 1 5.918 0h.791a.75.75 0 0 0 .75-.75V12H2Z" />
                            <path
                                d="M6.5 18a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3ZM13.25 5a.75.75 0 0 0-.75.75v8.514a3.001 3.001 0 0 1 4.893 1.44c.37-.275.61-.719.595-1.227a24.905 24.905 0 0 0-1.784-8.549A1.486 1.486 0 0 0 14.823 5H13.25ZM14.5 18a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" />
                        </svg>
                    </i>
                    <span class="text-xs">₦1,999 delivery</span>
                </div>
                <div class="flex flex-col items-center space-x-2">
                    <i class="fas fa-store text-primary"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" class="size-5">
                            <path
                                d="M2.879 7.121A3 3 0 0 0 7.5 6.66a2.997 2.997 0 0 0 2.5 1.34 2.997 2.997 0 0 0 2.5-1.34 3 3 0 1 0 4.622-3.78l-.293-.293A2 2 0 0 0 15.415 2H4.585a2 2 0 0 0-1.414.586l-.292.292a3 3 0 0 0 0 4.243ZM3 9.032a4.507 4.507 0 0 0 4.5-.29A4.48 4.48 0 0 0 10 9.5a4.48 4.48 0 0 0 2.5-.758 4.507 4.507 0 0 0 4.5.29V16.5h.25a.75.75 0 0 1 0 1.5h-4.5a.75.75 0 0 1-.75-.75v-3.5a.75.75 0 0 0-.75-.75h-2.5a.75.75 0 0 0-.75.75v3.5a.75.75 0 0 1-.75.75h-4.5a.75.75 0 0 1 0-1.5H3V9.032Z" />
                        </svg>
                    </i>
                    <span class="text-xs">Pickup available</span>
                </div>
            </div>

            <!-- </div> -->
        </div>
    </section>


    <!-- Floating Menu Categories Scroll -->
    <section class="bg-white sticky rounded-2xl top-16 z-50 border-b">
        <div class="max-w-7xl mx-auto px-4 py-4">
            <div class="flex items-center justify-center space-x-6 overflow-x-auto scrollbar-hide" id="menu-categories">
                <a href="#popular"
                    class="flex-shrink-0 text-primary border-b-2 border-primary pb-2 font-medium text-sm">
                    Popular
                </a>
                {% for category in categories %}
                <a href="#cat-{{ category.id }}"
                    class="flex-shrink-0 text-gray-600 hover:text-primary pb-2 font-medium text-sm transition-colors">
                    {{ category.name }}
                </a>
                {% endfor %}
            </div>
        </div>
    </section>


    <!-- Special Offers Banner -->


    <!-- Menu Items Grid -->
    <section class="py-6" id="menu-items">

        <div class="max-w-7xl mx-auto px-3" id="popular">

            <!-- Popular Items -->
            {%if most_popular%}


            <div class="mb-3">
                <h2 class="text-xl font-bold mb-2 flex items-center">
                    <i class="fas fa-fire text-primary mr-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" class="size-5">
                            <path fill-rule="evenodd"
                                d="M13.5 4.938a7 7 0 1 1-9.006 1.737c.202-.257.59-.218.793.039.278.352.594.672.943.954.332.269.786-.049.773-.476a5.977 5.977 0 0 1 .572-2.759 6.026 6.026 0 0 1 2.486-2.665c.247-.14.55-.016.677.238A6.967 6.967 0 0 0 13.5 4.938ZM14 12a4 4 0 0 1-4 4c-1.913 0-3.52-1.398-3.91-3.182-.093-.429.44-.643.814-.413a4.043 4.043 0 0 0 1.601.564c.303.038.531-.24.51-.544a5.975 5.975 0 0 1 1.315-4.192.447.447 0 0 1 .431-.16A4.001 4.001 0 0 1 14 12Z"
                                clip-rule="evenodd" />
                        </svg>
                    </i>
                    Most Popular
                </h2>

                <div id="category-scroll-container" id="eateries-list"
                    class="flex overflow-x-auto -mx-4 px-4 sm:px-0 sm:-mx-0 scroll-smooth no-scrollbar">
                    <!-- Promotions -->
                    {%for e in most_popular%}

                    <a href="" class="text-decoration-none openDetail" data-id="{{ e.id }}" data-name="{{ e.name }}"
                        data-price="{{ e.price }}" data-image="{{ e.image.url }}"
                        data-ingredients="{{ e.ingredients|default:'Freshly bought ingredients'|escapejs }}"
                        data-description="{{ e.description|default:'This meal is freshly cooked out of the Kitchen!'|escapejs }}"
                        data-url="#" data-description="{{ e.description }}" data-calories="{{ e.calories|default:'0' }}"
                        data-tags="{{ e.tags|default:'No tags'|escapejs }}">
                        <div href=""
                            class="flex-shrink-0 w-[calc(50%-12px)] sm:w-[calc(33.33%-16px)] md:w-[calc(25%-16px)] lg:w-[calc(33.33%-16px)] xl:w-[calc(25%-16px)] mr-3 mb-2 sm:mr-4">
                            <div class="rounded-lg hover:shadow-lg transition-shadow">
                                <div class="p-3 sm:p-4">
                                    <img src="{{e.image.url}}?w=300&h=200&fit=crop" alt="Pizza & Pasta"
                                        class="w-full shadow-md h-20 sm:h-24 object-cover rounded-xl mb-2 sm:mb-3">
                                    <!-- <div class="flex mb-2"> -->
                                    <h3 class="text-sm font-semibold line-clamp-2 min-h-10">
                                        {{e.name|truncatewords:3}}
                                    </h3>



                                    <!-- </div> -->
                                    <!-- <div class="flex items-center justify-between"> -->
                                    <div class="flex items-center justify-between gap-2">

                                        <h3 class="text-sm text-black font-bold flex gap-2 items-center">
                                            ₦{{e.price|intcomma}}</h3>
                                        <a href="#" class="text-decoration-none">
                                            <div class="flex items-center text-xs text-gray-500 font-semibold">
                                                <i class="fas fa-star text-primary mr-1"><svg
                                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                        fill="currentColor" class="size-3">
                                                        <path fill-rule="evenodd"
                                                            d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                                                            clip-rule="evenodd" />
                                                    </svg>
                                                </i>
                                                <span>{{m.rating}}</span>
                                            </div>
                                        </a>
                                    </div>

                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                    </a>


                    {%endfor%}



                    <!-- Add more category cards as needed -->
                </div>
                <br>

            </div>

            {%endif%}



            <!-- End of Popular Items -->
            {%for c in categories%}
            <div class="relative">
                <h2 class="text-xl font-bold mb-2 flex items-center">
                    <i class="fas fa-fire text-primary mr-2"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" class="size-5">
                            <path
                                d="M12 9a1 1 0 0 1-1-1V3c0-.552.45-1.007.997-.93a7.004 7.004 0 0 1 5.933 5.933c.078.547-.378.997-.93.997h-5Z" />
                            <path
                                d="M8.003 4.07C8.55 3.994 9 4.449 9 5v5a1 1 0 0 0 1 1h5c.552 0 1.008.45.93.997A7.001 7.001 0 0 1 2 11a7.002 7.002 0 0 1 6.003-6.93Z" />
                        </svg>
                    </i>
                    {{c.name}}
                </h2>


                <div class="relative">

                    <!-- Category Items -->
                    {%if c.menu_items.all%}
                    <div id="category-scroll-container" id="eateries-list"
                        class="flex overflow-x-auto -mx-4 px-4 sm:px-0 sm:-mx-0 scroll-smooth no-scrollbar">
                        <!-- Promotions -->
                        {%for e in c.menu_items.all%}

                        <a href="" class="text-decoration-none openDetail" data-id="{{ e.id }}" data-name="{{ e.name }}"
                            data-price="{{ e.price }}" data-image="{{ e.image.url }}"
                            data-ingredients="{{ e.ingredients|default:'Freshly bought ingredients'|escapejs }}"
                            data-description="{{ e.description|default:'This meal is freshly cooked out of the Kitchen!'|escapejs }}"
                            data-url="#" data-description="{{ e.description }}"
                            data-calories="{{ e.calories|default:'0' }}"
                            data-tags="{{ e.tags|default:'No tags'|escapejs }}">
                            <div href=""
                                class="flex-shrink-0 w-[calc(50%-12px)] sm:w-[calc(33.33%-16px)] md:w-[calc(25%-16px)] lg:w-[calc(33.33%-16px)] xl:w-[calc(25%-16px)] mr-3 mb-2 sm:mr-4">
                                <div class="rounded-lg hover:shadow-lg transition-shadow">
                                    <div class="p-3 sm:p-4">
                                        <img src="{{e.image.url}}?w=300&h=200&fit=crop" alt="Pizza & Pasta"
                                            class="w-full shadow-md h-20 sm:h-24 object-cover rounded-xl mb-2 sm:mb-3">
                                        <!-- <div class="flex mb-2"> -->
                                        <h3 class="text-sm font-semibold line-clamp-2 min-h-10">
                                            {{e.name|truncatewords:3}}
                                        </h3>



                                        <!-- </div> -->
                                        <!-- <div class="flex items-center justify-between"> -->
                                        <div class="flex items-center justify-between gap-2">

                                            <h3 class="text-sm text-black font-bold flex gap-2 items-center">
                                                ₦{{e.price|intcomma}}</h3>
                                            <a href="#" class="text-decoration-none">
                                                <div class="flex items-center text-xs text-gray-500 font-semibold">
                                                    <i class="fas fa-star text-primary mr-1"><svg
                                                            xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                            fill="currentColor" class="size-3">
                                                            <path fill-rule="evenodd"
                                                                d="M10.868 2.884c-.321-.772-1.415-.772-1.736 0l-1.83 4.401-4.753.381c-.833.067-1.171 1.107-.536 1.651l3.62 3.102-1.106 4.637c-.194.813.691 1.456 1.405 1.02L10 15.591l4.069 2.485c.713.436 1.598-.207 1.404-1.02l-1.106-4.637 3.62-3.102c.635-.544.297-1.584-.536-1.65l-4.752-.382-1.831-4.401Z"
                                                                clip-rule="evenodd" />
                                                        </svg>
                                                    </i>
                                                    <span>{{m.rating|default:'1.8'}}</span>
                                                </div>
                                            </a>
                                        </div>

                                        <!-- </div> -->
                                    </div>
                                </div>
                            </div>
                        </a>


                        {%endfor%}



                        <!-- Add more category cards as needed -->
                    </div>
                    <br>
                    {%endif%}

                </div>
            </div>
            {%endfor%}


    </section>

    


    <!-- HTMX Scripts -->

</main>
<!-- Hero Section -->
<!-- <section class="relative bg-dark-navy text-white py-20 text-center overflow-hidden">
    <img src="{{eatery.image.url}}?height=600&width=1200" alt="Restaurant interior"
        class="absolute inset-0 w-full h-full object-cover opacity-30">
    <div class="relative z-10 container mx-auto px-4">
        <h2 class="text-5xl font-extrabold mb-4 text-orange-accent">Welcome to {{eatery.name}}</h2>
        <p class="text-xl max-w-2xl mx-auto mb-8">Experience a culinary journey with our exquisite dishes, crafted with
            passion and the freshest ingredients.</p>
        <a href="#menu"
            class="bg-orange-accent text-dark-navy font-bold py-3 px-8 rounded-full hover:bg-white hover:text-dark-navy transition-all duration-300 shadow-lg">Explore
            Our Menu</a>
    </div>
</section> -->



<div class="container my-6 w-full">
    <div class="container mx-auto px-3 py-3">



        
        <section class="mx-auto py-6 px-3">
            <!-- <div class="text-center"> -->

            <h4 style="font-family: 'Modak', sans-serif; color: #14213d;"
                class="text-4xl font-semibold text-orange-accent mb-6 border-b-2 border-orange-accent pb-2">
                Contact <span style="color: #fca311;">Us</span></h4>
            <!-- <p class="text-gray-600 mb-6">Order your dream Meal in a Flash.</p> -->
            <!-- </div> -->
            <div class="container py-4 text-center max-w-7xl">
                <div class="flex flex-col items-center justify-center gap-4">
                    <a href="" class="btn w-50 flex py-2 px-3 rounded-2xl bg-white items-center space-x-1 sm:space-x-2">
                        <img src="{%static 'badges/faceb.png'%}" class="w-10 -mt-1" alt="">
                        <span class="font-semibold text-sm sm:text-base text-dark-blue">Facebook</span>
                    </a>
                    <a href="" class="btn w-50 flex py-2 px-3 rounded-2xl bg-white items-center space-x-1 sm:space-x-2">
                        <img src="{%static 'badges/whats.png'%}" class="w-10" alt="">
                        <span class="font-semibold text-sm sm:text-base text-dark-blue">WhatsApp</span>
                    </a>


                    <a href="" class="btn w-50 flex py-2 px-3 rounded-2xl bg-white items-center space-x-1 sm:space-x-2">
                        <img src="{%static 'badges/tok.png'%}" class="w-10" alt="">
                        <span class="font-semibold text-sm sm:text-base text-dark-blue">TikTok</span>
                    </a>
                </div>
            </div>
        </section>
        <section class="mx-auto py-6 px-3">
            <div class="text-center">
                <h4 style="font-family: 'Modak', sans-serif; color: #14213d;"
                    class="text-4xl font-semibold text-orange-accent mb-6 border-b-2 border-orange-accent pb-2">
                    Join Our <span style="color: #fca311;">Team</span></h4>
                <p class="text-gray-600 mb-6">Become a part of our vibrant team and help us deliver exceptional
                    dining experiences.</p>
            </div>
            <div class="container py-4 text-center max-w-7xl">
                <a href="#" class="btn w-50 flex py-2 px-3 rounded-2xl bg-white items-center space-x-1 sm:space-x-2">
                    <a
                        class="flex-shrink-0 w-[calc(50%-12px)] sm:w-[calc(33.33%-16px)] md:w-[calc(25%-16px)] lg:w-[calc(33.33%-16px)] xl:w-[calc(25%-16px)] mr-3 sm:mr-4">
                        <div class="rounded-lg hover:shadow-md transition-shadow">
                            <div
                                class="p-3 sm:p-4 bg-orange-200 flex-col rounded-2xl min-h-32 flex items-center justify-center">
                                <img src="{%static 'badges/verified.png'%}?w=50&h=50" alt="Join the Universe"
                                    class="h-10 sm:h-12 object-cover rounded-md mb-2 sm:mb-3">
                                <div class="flex items-center justify-center mb-2">
                                    <h3 class="font-bold text-sm line-clamp-2">Join the Universe </h3>

                                    <!-- <span
                                                class="bg-orange py-1 px-2 badge text-dark-blue rounded-lg text-xs"><svg
                                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                                    fill="currentColor" class="size-5">
                                                    <path
                                                        d="M12.232 4.232a2.5 2.5 0 0 1 3.536 3.536l-1.225 1.224a.75.75 0 0 0 1.061 1.06l1.224-1.224a4 4 0 0 0-5.656-5.656l-3 3a4 4 0 0 0 .225 5.865.75.75 0 0 0 .977-1.138 2.5 2.5 0 0 1-.142-3.667l3-3Z" />
                                                    <path
                                                        d="M11.603 7.963a.75.75 0 0 0-.977 1.138 2.5 2.5 0 0 1 .142 3.667l-3 3a2.5 2.5 0 0 1-3.536-3.536l1.225-1.224a.75.75 0 0 0-1.061-1.06l-1.224 1.224a4 4 0 1 0 5.656 5.656l3-3a4 4 0 0 0-.225-5.865Z" />
                                                </svg> -->
                                    </span>
                                </div>
                                <div class="flex items-center justify-center">
                                    <div>
                                        <span class="text-xs flex gap-2 items-center">Sponsored</span>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </a>
            </div>
        </section>


        {% endblock %}